header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  background-color: black;
  background-image: url('/../img/code-adjusted.jpg');
  background-position: center;
  background-size: cover;
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.7rem;
    @include body-font;
  }
  .description {
    font-size: 1.3rem;
  }

  .circle-crop {
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    .photo {
      position: relative;
      height: 105%;
      width: auto;
      background-size: cover;
      background-position: center;
    }
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
    h1 {
      font-size: 3em;
      line-height: 3.5rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}
